<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the Drinker Page</h1>
    <p class="lead">Click on a drinker to view drinker details</p>
  </div>
</div>

<div class="container">
  <p-table [value]="drinkers" [paginator]="true" [rows]="50">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>State</th>
        <th>Phone</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-drinker>
      <tr>
        <td>
          <a routerLink="/drinkers/{{ drinker.name }}">{{ drinker.name }}
          </a>
        </td>
        <td>{{ drinker.state }}</td>
        <td>{{ drinker.phone }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<br><br><br>