<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the Modification Page</h1>
    <p class="lead">This page is currently under construction</p>
  </div>
</div>  

<form action="" method="POST">
  <p>beer</p>
  <input type="text" placeholder="old name" name="beer_old_name"/><br><br>
  <input type="text" placeholder="new name" name="beer_new_name"/><br><br>
  <input type="text" placeholder="new manf" name="beer_new_manf"/><br><br>
  <input type="submit" value="Modify">
</form>
<br><br>
<form action="" method="POST">
  <p>bar</p>
  <input type="text" placeholder="old name" name="bar_old_name"/><br><br>
  <input type="text" placeholder="new name" name="bar_new_name"/><br><br>
  <input type="text" placeholder="new addr" name="bar_new_addr"/><br><br>
  <input type="text" placeholder="new city" name="bar_new_city"/><br><br>
  <input type="text" placeholder="new state" name="bar_new_state"/><br><br>
  <input type="text" placeholder="new license" name="bar_new_license"/><br><br>
  <input type="text" placeholder="new openingTime" name="bar_new_openingTime"/><br><br>
  <input type="text" placeholder="new closingTime" name="bar_new_closingTime"/><br><br>
  <input type="submit" value="Modify">
</form>
<br><br>
<form action="" method="POST">
  <p>drinker</p>
  <input type="text" placeholder="old name" name="bar_old_name"/><br><br>
  <input type="text" placeholder="new name" name="bar_new_name"/><br><br>
  <input type="text" placeholder="new state" name="bar_new_state"/><br><br>
  <input type="text" placeholder="new phone" name="bar_new_phone"/><br><br>
  <input type="submit" value="Modify">
</form>
<br><br>
<form action="" method="POST">
  <p>food</p>
  <input type="text" placeholder="old name" name="food_old_name"/><br><br>
  <input type="text" placeholder="new name" name="food_new_name"/><br><br>
  <input type="submit" value="Modify">
</form>
<br><br>
<form action="" method="POST">
  <p>frequents</p>
  <input type="text" placeholder="old drinker" name="frequents_old_drinker"/><br><br>
  <input type="text" placeholder="old bar" name="frequents_old_bar"/><br><br>
  <input type="text" placeholder="new drinker" name="frequents_new_drinker"/><br><br>
  <input type="text" placeholder="new bar" name="frequents_new_bar"/><br><br>
  <input type="submit" value="Modify">
</form>
<br><br>
<form action="" method="POST">
    <p>generates</p>
    <input type="text" placeholder="old transactionID" name="generates_old_transactionID"/><br><br>
    <input type="text" placeholder="old bar" name="generates_old_bar"/><br><br>
    <input type="text" placeholder="old drinker" name="generates_old_drinker"/><br><br>
    <input type="text" placeholder="new transactionID" name="generates_new_transactionID"/><br><br>
    <input type="text" placeholder="new bar" name="generates_new_bar"/><br><br>
    <input type="text" placeholder="new drinker" name="generates_new_drinker"/><br><br>
    <input type="submit" value="Modify">
  </form>
  <br><br>
<form action="" method="POST">
    <p>item</p>
    <input type="text" placeholder="old name" name="item_old_name"/><br><br>
    <input type="text" placeholder="new name" name="item_new_name"/><br><br>
    <input type="submit" value="Modify">
  </form>
<br><br>
<form action="" method="POST">
    <p>likes</p>
    <input type="text" placeholder="old drinker" name="likes_old_drinker"/><br><br>
    <input type="text" placeholder="old beer" name="likes_old_beer"/><br><br>
    <input type="text" placeholder="new drinker" name="likes_new_drinker"/><br><br>
    <input type="text" placeholder="new beer" name="likes_new_beer"/><br><br>
    <input type="submit" value="Modify">
  </form>
  <br><br>
<form action="" method="POST">
    <p>orders</p>
    <input type="text" placeholder="old transactionID" name="orders_old_transactionID"/><br><br>
    <input type="text" placeholder="old bar" name="orders_old_bar"/><br><br>
    <input type="text" placeholder="old item" name="orders_old_item"/><br><br>
    <input type="text" placeholder="new transactionID" name="orders_new_transactionID"/><br><br>
    <input type="text" placeholder="new bar" name="orders_new_bar"/><br><br>
    <input type="text" placeholder="new item" name="orders_new_item"/><br><br>
    <input type="submit" value="Modify">
  </form>
  <br><br>
<form action="" method="POST">
    <p>sellsResult</p>
    <input type="text" placeholder="old bar" name="sellsResult_old_bar"/><br><br>
    <input type="text" placeholder="old item" name="sellsResult_old_item"/><br><br>
    <input type="text" placeholder="new bar" name="sellsResult_new_bar"/><br><br>
    <input type="text" placeholder="new item" name="sellsResult_new_item"/><br><br>
    <input type="text" placeholder="new price" name="sellsResult_new_price"/><br><br>
    <input type="submit" value="Modify">
  </form>
  <br><br>
<form action="" method="POST">
  <p>transactions</p>
  <input type="text" placeholder="old bar" name="transactions_old_bar"/><br><br>
  <input type="text" placeholder="old transactionID" name="transactions_old_transactionID"/><br><br>
  <input type="text" placeholder="new bar" name="transactions_new_bar"/><br><br>
  <input type="text" placeholder="new transactionID" name="transactions_new_transactionID"/><br><br>
  <input type="text" placeholder="new date" name="transactions_new_date"/><br><br>
  <input type="text" placeholder="new time" name="transactions_new_time"/><br><br>
  <input type="text" placeholder="new bill" name="transactions_new_bill"/><br><br>
  <input type="text" placeholder="new tax" name="transactions_new_tax"/><br><br>
  <input type="text" placeholder="new tip" name="transactions_new_tip"/><br><br>
  <input type="text" placeholder="new totalPrice" name="transactions_new_totalPrice"/><br><br>
  <input type="submit" value="Modify">
</form>
<br><br>